{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4 justify-content-center p-5 login-container">
        
            <h1 class="h3 font-weight-normal form__header">Register</h1>

            {{ form_start(registrationForm) }}
                {{ form_label(registrationForm.username, 'Username:', {'label_attr': {'class': 'form__label'}}) }}
                {{ form_widget(registrationForm.username, {'attr': {'class': 'form__input'}})}}
                
                {{ form_label(registrationForm.plainPassword, 'Password' , {'label_attr': {'class': 'form__label'}})}}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form__input'}})}}


                <button type="submit" class="form__button">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}
