{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('/formHandler.js')}}"></script>
{% endblock %}

{% block title %}Hello QuestionController!{% endblock %}

{% block body %}
<div class="container container__quiz">
    <div class="quiz">
        {{ form_start(form) }}
            <div class="errors">
                {{ form_errors(form)}}
            </div>
            {{ form_label(form.content, 'Question', {'label_attr': {'class': 'form__label'}}) }}
            {{ form_widget(form.content, {'attr': {'class': 'form__input'}})}}

            {{ form_label(form.image, 'Add an image', {'label_attr': {'class': 'form__label'}}) }}
            {{ form_widget(form.image, {'attr': {'class': 'widget', 'style': 'display:none'}})}}
            <input class="quiz__button-add" type="button" value="Choose an image" onclick="document.getElementById('question_image').click();" />

            <div class="" id="anwser-fields-list"
                data-prototype="{{ form_widget(form.anwsers.vars.prototype)|e }}"
                data-widget-tags="{{ '<div></div>'|e }}"
                data-widget-counter="{{ anwsers|length }}">
            {% for key,anwser in anwsers %}
                <div>
                    <input id="question_anwser_{{key}}" type="text" name="question[anwsers][{{key}}]" value="{{anwser}}">
                </div>
            {% endfor %}
            </div>

            {% do form.anwsers.setRendered() %}

            <button type="button"
                id="add-another-collection-widget"
                data-list-selector="#anwser-fields-list" 
                class="quiz__button">Add another anwser</button>

            {{ form_widget(form.Submit, { 'label': 'Edit question', 'attr': {'class': 'quiz__button-submit'} }) }}
        {{ form_end(form) }}
        {% if image %}
            <img src="{{ asset('uploads/images/' ~ image) }}" alt="no Image">
        {% endif %}
    </div>
</div>
{% endblock %}
