{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('/formHandler.js')}}"></script>
{% endblock %}

{% block title %}Hello QuizEditController!{% endblock %}

{% block body %}
<div class="container container__quiz">

    <div class="quiz">
        <div class="quiz-container__row">
            <div class="quiz__name">
                Category: 
            </div>
            <div class="quiz__name-info">
                {{category.name}}
            </div>
        </div>
        {{ form_start(form) }}
            {{ form_label(form.content, 'Add question', {'label_attr': {'class': 'form__label'}}) }}
            {{ form_widget(form.content, {'attr': {'class': 'form__input'}})}}

            {{ form_label(form.image, 'Add an image', {'label_attr': {'class': 'form__label'}}) }}
            {{ form_widget(form.image, {'attr': {'class': 'form__file'}})}}
            {% if form.image.vars['errors']|length > 0 %}
            <ul class="error">
                {% for error in form.image.vars['errors'] %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <div id="anwser-fields-list"
                data-prototype="{{ form_widget(form.anwsers.vars.prototype)|e }}"
                data-widget-tags="{{ '<div></div>'|e }}"
                data-widget-counter="{{ form.anwsers|length }}">
            {% for anwserField in form.anwsers %}
                <div>
                    {{ form_errors(anwserField) }}
                    {{ form_widget(anwserField) }}
                </div>
            {% endfor %}
            </div>

            <button class="quiz__button" type="button"
                id="add-another-collection-widget"
                data-list-selector="#anwser-fields-list">Add another anwser</button>
            <script>add()</script>

            {{ form_widget(form.Submit, {'attr': {'class': 'quiz__button-submit'}})}}
        {{ form_end(form) }}
    </div>

    <div class="question">
        {% if questions %}
            {% for key,question in questions %}
                <div class="question">
                    <div class="question_number">
                        {% set key = key + 1 %}
                        {{ key }}
                    </div>
                    <div class="buttons">
                        <a href="{{path('app_question_edit', { 'catId': category.id, 'qId': question.id})}}" class="edit">Edit</a>
                        <a href="{{path('app_question_delete',  {'id': question.id})}}" class="delete">Delete</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
