{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('/formHandler.js')}}"></script>
{% endblock %}

{% block title %}Hello QuizEditController!{% endblock %}

{% block body %}
    <div class="container">
    <div class="quiz__name__title">
        {{category.name}}
    </div>
</div>
<div class="container container__quiz">

    <div class="quiz">
        <div class="quiz-container__row">
            <div class="quiz__name">
                Category: 
            </div>
        </div>
        {{ form_start(form) }}
            {{ form_label(form.content, 'Add question', {'label_attr': {'class': 'form__label'}}) }}
            {{ form_widget(form.content, {'attr': {'class': 'form__input'}})}}

            {{ form_label(form.image, 'Add an image', {'label_attr': {'class': 'form__label'}}) }}
            {{ form_widget(form.image, {'attr': {'class': 'form__file', 'style': 'display:none'}})}}
            <input class="quiz__button-add" type="button" value="Choose an image" onclick="document.getElementById('question_image').click();" />


            {% if form.image.vars['errors']|length > 0 %}
            <ul class="error">
                {% for error in form.image.vars['errors'] %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <div class="form__label">
                Add more anwsers
            </div>
            <div id="anwser-fields-list"
                data-prototype="{{ form_widget(form.anwsers.vars.prototype)|e }}"
                data-widget-tags="{{ '<div></div>'|e }}"
                data-widget-counter="{{ form.anwsers|length }}">
            {% for anwserField in form.anwsers %}
                <div>
                    {{ form_errors(anwserField) }}
                    {{ form_widget(anwserField) }}
                </div>
            {% endfor %}
            </div>

            <button class="quiz__button" type="button"
                id="add-another-collection-widget"
                data-list-selector="#anwser-fields-list">Add another anwser</button>
            <script>add()</script>

            {{ form_widget(form.Submit, {'attr': {'class': 'quiz__button-submit'}})}}
        {{ form_end(form) }}
    </div>

    {% if questions %}
        <div class="question-container">
            {% for key,question in questions %}
                <div class="question">
                    <div class="form__label">
                        {% set key = key + 1 %}
                        Number: {{ key }}
                    </div>
                    <div class="quiz__button-row">
                        <a href="{{path('app_question_edit', { 'catId': category.id, 'qId': question.id})}}" class="quiz__button question-btn">Edit</a>
                        <a href="{{path('app_question_delete',  {'id': question.id})}}" class="quiz__button question-btn">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

</div>
{% endblock %}
