{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('/jquery.js')}}"></script>
    <script src="{{ asset('/formHandler.js')}}"></script>

{% endblock %}

{% block title %}Hello QuizEditController!{% endblock %}

{% block body %}
<div class="container">
    <div class="category_name">
        {{category.name}}
    </div>

    <div class="form">
        {{ form_start(form) }}
            {{ form_label(form.content, 'Question', {'label_attr': {'class': 'label'}}) }}
            {{ form_widget(form.content, {'attr': {'class': 'widget'}})}}

            {{ form_label(form.image, 'img', {'label_attr': {'class': 'label'}}) }}
            {{ form_widget(form.image, {'attr': {'class': 'widget'}})}}

            
            <div id="anwser-fields-list"
                data-prototype="{{ form_widget(form.anwsers.vars.prototype)|e }}"
                data-widget-tags="{{ '<div></div>'|e }}"
                data-widget-counter="{{ form.anwsers|length }}">
            {% for anwserField in form.anwsers %}
                <div>
                    {{ form_errors(anwserField) }}
                    {{ form_widget(anwserField) }}
                </div>
            {% endfor %}
            </div>

            <button type="button"
                class="add-another-collection-widget"
                data-list-selector="#anwser-fields-list">Add another email</button>

            
        {{ form_end(form) }}
    </div>

    <div class="question">
        {% if questions %}
            {% for key,question in questions %}
                <div class="question">
                    <div class="question_number">
                        {% set key = key + 1 %}
                        {{ key }}
                    </div>
                    <div class="buttons">
                        <a href="{{path('app_category', {'id': question.id})}}" class="edit">Edit</a>
                        <a href="{{path('app_question_delete',  {'id': question.id})}}" class="delete">Delete</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
