{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4 justify-content-center p-5 login-container">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 font-weight-normal form__header">Please sign in</h1>
                <label for="inputUsername" class="form__label">Username</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form__input" autocomplete="username" required autofocus>
                <label for="inputPassword" class="form__label">Password</label>
                <input type="password" name="password" id="inputPassword" class="form__input" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                
                    
                    <div class="form__checkbox mb-3">
                        <span class="checkbox-label">Remember me</span>
                        <label class="switch">
                            <input type="checkbox" name="_remember_me" class="form__checkbox__input">
                            
                            <div class="slider round"></div>
                        </label>
                    </div>
            

                <button class="form__button" type="submit">
                    Sign in
                </button>
            </form>

        </div>
    </div>
</div>
{% endblock %}
