{% extends 'base.html.twig' %}

{% block title %}Hello QuizEditController!{% endblock %}

{% block body %}
<div class="container">
    <div class="quiz__name__title">
        {{quiz.name}}
    </div>
</div>
<div class="container">
    <div class="container__quiz">
    <div class="quiz quiz-container">
        {{ form_start(form) }}
            {{ form_label(form.name, 'Category name', {'label_attr': {'class': 'form__label'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form__input'}})}}

            {{ form_widget(form.type, {'attr': {'class': 'quiz__list'}})}}

            {{ form_widget(form.Submit, {'attr': {'class': 'quiz__button'}})}}

        {{ form_end(form) }}
    </div>

        {% if categories %}
            {% for category in categories %}
                <div class="quiz quiz-container">
                    <div class="quiz__name">
                        {{category.name}}
                    </div>
                    <div class="quiz__name">
                        {{category.type}}
                    </div>
                    <div class="quiz__button-row">
                        <a href="{{path('app_category', {'id': category.id})}}" class="quiz__button">Edit</a>
                        <a href="{{path('app_category_delete',  {'id': category.id})}}" class="quiz__button">Delete</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
